*::-webkit-input-placeholder {
	color: #828282;
	opacity: 1;
}
*:-moz-placeholder {
	color: #828282;
	opacity: 1;
}
*::-moz-placeholder {
	color: #828282;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #828282;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Lato';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
	color: #000;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 78px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	padding: 18px 0;
	background-color: #efefef;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 248px;
	max-width: 100%;
}
.header .logo img {
	width: 210px;
}
.menu {
	display: flex;
}
.menu > li {
	padding: 0 35px;
}
.menu a {
	color: #000;
}
.menu a:hover {
color: #0080C6;
}
.phone-main {
	line-height: 19px;
	font-weight: 600;
	color: #000;
}
.phone-main:hover {
color: #0080C6;
}
.time-work {
	font-size: 11px;
	line-height: 13px;
	padding-top: 9px;
}
.btn-main {
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	font-weight: 600;
	padding: 0 30px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #0080C6;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-family: 'Lato';
	border: none;
	transition: all 0.3s;
	cursor: pointer;
}
.btn-main:hover {
	background-color: #085e8d;
}
.header__right {
	display: flex;
	align-items: center;
}
.header__contacts {
	margin-right: 70px;
}
.container-fluid {
	padding: 0 75px;
}
.item-billbord__image {
	height: 890px;
	min-height: 473px;
	max-height: calc(100vh - 78px);
	display: block;
	position: relative;
	z-index: 1;
}
.item-billbord__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-billbord__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(287.03deg, rgba(0, 0, 0, 0.6) 0.66%, rgba(0, 0, 0, 0.34223) 80.34%, rgba(0, 0, 0, 0) 116.73%);
}
.item-billbord__content {
	padding-bottom: 150px;
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}
.item-billbord {
	font-size: 20px;
	line-height: 30px;
	position: relative;
	color: #fff;
}
.title-big {
	font-size: 64px;
	line-height: 60px;
	margin-bottom: 35px;
	font-weight: 700;
}
.item-billbord .btn-main {
	font-size: 18px;
	line-height: 22px;
	height: 70px;
	margin-top: 80px;
	min-width: 300px;
}
.info-billord__title {
	font-size: 40px;
	line-height: 30px;
	margin-bottom: 13px;
	font-weight: 700;
}
.info-billord__value {
	font-size: 70px;
	display: inline;
}
.info-billord sup {
	font-size: 19px;
	line-height: 0;	
}
.info-billord {
	margin-right: -55px;
	display: flex;
}
.info-billord__item {
	padding: 39px 60px;
	padding-left: 40px;
	padding-bottom: 15px;
	min-height: 115px;
	position: relative;
	margin-right: -3px;
	color: #fff;
	z-index: 1;
}
.info-billord__item::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #8AC0DF;
	z-index: -1;
	transform: skewX(-30deg);
}
.info-billord__item:nth-child(2)::before {
	background-color: #26a1d8;
}
.info-billord__item:nth-child(3)::before {
	background-color: #007AC2;
}
.info-billord__descr {
	line-height: 20px;
}
.bottom-billbord {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.billbord .container {
	position: relative;
}
.info-billord__flex {
	display: flex;
	align-items: center;
}
.info-billord__icon {
	margin-right: 21px;
}
.info-billord__flex p {
	max-width: 125px;
}
.info-billord__item:nth-child(1) .info-billord__title {
	margin-left: -40px;
}
.info-billord__item:nth-child(1) {
	padding-left: 80px;
}
.controls-slider .slick-dots {
	padding: 0 10px;
	bottom: 0;
	left: 0;
	position: relative;
}
.slick-dots {
	bottom: 0;
}
.slick-dots li {
	width: 2px;
	height: 22px;
	margin: 0 8px;
}
.slick-dots li button {
	width: 2px;
	height: 22px;
	padding: 0;
	border: none;
	background-color: #d9d9d9;
	border-radius: 0;
}
.slick-dots li.slick-active button {
	height: 30px;
	background-color: #26a1d8;
}
.controls-slider {
	display: flex;
	align-items: center;
}
.slick-arrow {
	width: 18px;
	height: 33px;
	top: 50%;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.controls-slider .slick-arrow {
		position: relative;
	top: 0;
	left: 0;
	right: 0;
	transform: none;
}
.slick-arrow svg {
	max-width: 100%;
}
.slick-arrow path {
	transition: all 0.3s;
}
.slick-arrow:hover path {
	fill: #26a1d8;
}
.controls-slider .slick-next {
	order: 2;
}
.title-section {
	font-size: 40px;
	line-height: 48px;
	padding-top: 49px;
	font-weight: 600;
}
.item-catalog {
	margin-top: 33px;
	position: relative;
	display: block;
}
.item-catalog__image {
	height: 300px;
	display: block;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.item-catalog__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(287.03deg, #075380 0.66%, rgba(0, 122, 194, 0) 116.73%);
	opacity: 0;
	transition: all 0.3s;
}
.item-catalog:hover .item-catalog__image::before {
	opacity: 1;
}
.item-catalog:hover .item-catalog__image::after {
	opacity: 0;
}
.item-catalog__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.6s; 
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.item-catalog__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s;
	background: linear-gradient(287.03deg, rgba(0, 0, 0, 0.4) 0.66%, rgba(0, 0, 0, 0.228153) 80.34%, rgba(0, 0, 0, 0) 116.73%);
}
.item-catalog__title {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #fff;
	bottom: 20px;
	left: 30px;
	padding: 16px 40px;
	display: inline-block;
	position: absolute;
	z-index: 1;
}
.item-catalog__title::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #007AC2;
	z-index: -1;
	transform: skewX(-30deg);
}
.item-portfolio {
	margin-top: 35px;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	color: #000;
	display: block;
	position: relative;
}
.item-portfolio__image {
	height: 400px;
	display: block;
	overflow: hidden;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.6s; 
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.item-portfolio:hover .item-portfolio__image img {
	transform: scale(1.1);
}
.item-portfolio__content {
	padding: 15px 74px;
	padding-right: 50px;
	margin-left: -45px;
	position: absolute;
	display: inline-block;
	bottom: 1px;
	left: 0;
	z-index: 1;
}
.item-portfolio__title {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 4px;
	font-weight: 700;
	display: block;
}
.item-portfolio__descr {
	font-size: 14px;
	line-height: 17px;
	display: block;
}
.item-portfolio__content::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: -1;
	transform: skewX(-30deg);
}
.portfolio {
	padding-bottom: 95px;
}
#map {
	height: 510px;
	width: 100%;
	background-color: #ddd;
}
.footer {
	font-size: 14px;
	line-height: 17px;
	padding-top: 39px;
	padding-bottom: 35px;
	color: #fff;
	background-color: #00181B;
}
.list-footer {
	margin-bottom: 15px;
	line-height: 24px;	
	font-weight: 700;	
}
.list-footer a {
	color: #fff;
}
.footer .logo {
	margin-bottom: 25px;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social a {
	width: 30px;
	height: 30px;
	margin-right: 14px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__title {
	margin-bottom: 12px;
}
.footer__nav_columns {
	columns: 2;
}
.footer__nav {
	line-height: 30px;
	font-weight: 600;
}
.footer__nav a {
	color: #fff;
}
.list-footer a:hover,
.footer .phone-main:hover,
.footer__nav a:hover {
color: #0080C6;
}
.footer__title,
.footer__nav_big {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.footer__nav_big li {
	margin-bottom: 23px;
}
.footer__nav_big {
	margin-bottom: 0;
}
.footer .phone-main {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-top: 35px;
	margin-bottom: 18px;
	display: inline-block;
	color: #fff;
	white-space: nowrap;
}
.copyright {
	margin-top: -35px;
	font-weight: 600;
	font-size: 10px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.6);
}
.text-map {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Lato';
}
.ymaps-2-1-79-balloon__close-button {
	display: none !important;
}
.ymaps-2-1-79-balloon {
	box-shadow: 0 5px 15px -7px rgb(0 0 0 / 50%) !important;
}
.footer__title i {
	display: none;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 30px;
	height: 3px;
	display: block;
	margin: 0 auto;
	background-color: #0080C6;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 30px;
	height: 3px;
	display: block;
	margin: 0 auto;
	background-color: #0080C6;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 16px;
	width: 30px;
	height: 3px;
	display: block;
	background-color: #0080C6;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/
.phone-mob {
	font-size: 22px;
	display: none;
	color: #0080C6;
}
.item-portfolio .controls-slider {
	position: absolute;
	bottom: 22px;
	left: 0;
	width: 100%;
	padding-left: 50%;
	justify-content: center;
	z-index: 10;
}
.item-portfolio .controls-slider .slick-dots {
	width: initial;
}
.slider-portfolio::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	pointer-events: none;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.37%, rgba(0, 0, 0, 0.7) 95.63%);
	z-index: 1;
}
.breadcrumbs {
	padding-top: 44px;
	padding-bottom: 30px;
	color: #BDBDBD;
	display: flex;
	align-items: center;
}
.breadcrumbs a {
	color: #828282;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #828282;
}
.breadcrumbs li::after {
	position: relative;
	display: inline-block;
	content: " ";
	width: 12px;
	height: 12px;
	margin: 0 3px;
	background-image: url(../img/chevron-right.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.portfolio_page .title-section {
	padding-top: 0px;
}
.pager {
	height: 55px;
	margin-top: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	font-size: 23px;
line-height: 32px;
margin: 0 6px;
color: #828282;
}
.page-numbers.current {
	color: #007BC2;
	font-weight: 700;
}
.page-numbers:hover {
	color: #007BC2;
}
.prev.page-numbers,
.next.page-numbers {
	width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
border: 1px solid #E0E0E0;
color: #007bc2;
position: absolute;
top: 0;
left: 0;
}
.next.page-numbers {
	left: auto;
	right: 0;
}
.catalog_page .title-section {
	padding-top: 0;
}
.section-text {
	padding-top: 30px;
	padding-bottom: 80px;
	line-height: 24px;
}
.section-text p {
	margin-bottom: 20px;
	text-align: justify;
}
.section-text .title-section {
	padding-bottom: 40px;
	text-align: center;
}
.card .title-section {
	padding-top: 0;
	padding-bottom: 30px;
	text-align: center;
}
.logo-card {
	margin-bottom: 40px;
}
.logo-card img {
	max-width: 248px;
	margin: 0 auto;
}
.card {
	padding-bottom: 60px;
}
.text-card {
	line-height: 27px;
	text-align: center;
}
.text-card {
	margin-bottom: 60px;
}
.slider-card {
	margin-bottom: 100px;
}
.slider-card__item {
	height: 550px;
	position: relative;
	display: block;
}
.slider-card__item::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 86.21%, rgba(0, 0, 0, 0.2) 95.45%), linear-gradient(90.4deg, rgba(22, 51, 68, 0.7) -8.61%, rgba(160, 216, 252, 0) 19.84%, rgba(0, 0, 0, 0) 19.84%), linear-gradient(268.15deg, rgba(0, 0, 0, 0.7) -6.3%, rgba(0, 0, 0, 0) 10.82%);
}
.slider-card__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-card .slick-dots {
	bottom: 28px;
}
.slider-card .slick-arrow {
	height: 54px;
	width: 29px;
}
.slider-card .slick-arrow svg {
	width: 100%;
	height: 100%;
}
.slider-card .slick-prev {
	left: 20px;
}
.slider-card .slick-next {
	right: 20px;
}
.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs a {
	color: #007AC2;
	font-weight: 600;
	padding: 17px 50px;
	line-height: 21px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-align: center;
}
.tabs a::before {
    position: absolute;
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
border: 1px solid #007AC2;
    z-index: -1;
    transform: skewX(-30deg);
    transition: all 0.3s;
}
.tabs a:hover::before,
.tabs .active a::before {
	background-color: #007AC2;
}
.tabs a:hover,
.tabs .active a {
	color: #fff;
}
.tab-container {
	padding-top: 70px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.row_cards {
	justify-content: center;
}
.row_cards > div {
	margin-bottom: 40px;
}
.item-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	border: 1px solid #E0E0E0;
	text-align: center;
	color: #333333;
	line-height: 27px;
}
.item-card__image {
	height: 337px;
	display: block;
	width: 100%;
	flex: none;
}
.item-card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-card__content {
	padding: 25px 45px;
	padding-bottom: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
.item-card__title {
	font-size: 30px;
line-height: 36px;
margin-bottom: 30px;
font-weight: 600;
color: #000;
	display: block;
}
.item-card p {
	margin-bottom: 55px;
	            display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.item-card .link-page {
	margin-top: auto;
}
.link-page {
	font-size: 18px;
line-height: 22px;
font-weight: 600;
color: #007AC2;
border-bottom: 1px solid #007AC2;
}
.link-page:hover {
	border-color: transparent;
}
.consultation {
	padding: 75px 0;
	background-image: url(../img/bg_consultation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-form {
	font-size: 36px;
line-height: 47px;
margin-bottom: 13px;
font-weight: 700;
color: #333;
}
.subtitle-form {
	font-size: 24px;
line-height: 31px;
margin-bottom: 23px;
font-weight: 600;
color: #333;
}
.descr-form {
	font-size: 20px;
	line-height: 26px;
	max-width: 357px;
	margin: 0 auto;
	font-weight: 500;
	margin-bottom: 30px;
	color: #4F4F4F;
}
.block-form {
	padding: 56px;
	padding-bottom: 72px;
	text-align: center;
	box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
	background-color: #fff;
}
.consultation .block-form {
	max-width: 585px;
	margin-left: 60px;
}
.block-form__wrap {
	padding: 0 86px;
}
.item-form {
	margin-bottom: 20px;
}
.item-form input {
	height: 59px;
	font-size: 16px;
	line-height: 21px;
	padding: 0 20px;
	color: #000;
	font-weight: 500;
	background-color: transparent;
	border: 1px solid #E0E0E0;
border-radius: 8px;
	width: 100%;
	font-family: 'Lato';
}
.block-form .btn-main {
	font-weight: 600;
font-size: 18px;
line-height: 22px;
	height: 70px;
	margin-top: 5px;
	width: 100%;
}
.checkbox {
	font-size: 11px;
	line-height: 15px;
	margin-top: 25px;
	text-align: left;
color: #4F4F4F;
}
.checkbox a {
	color: #4F4F4F;
	border-bottom: 1px solid #4F4F4F;
}
.checkbox a:hover {
	border-color: transparent;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 2px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 14px;
	height: 14px;
border: 1px solid #828282;
border-radius: 2px;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 14px;
	height: 14px;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}
.tabs_marquises a {
	padding-left: 0;
	padding-right: 0;
	display: block;
}
.tabs_marquises li {
	flex-grow: 1
}
.slider-nav {
	padding: 30px 0;
	margin-right: 15px;
}
.slider-for {
	margin-left: -15px;
}
.slider-nav__item {
	height: 105px;
	margin: 11px 0;
	display: block;
	position: relative;
	cursor: pointer;
}
.slider-for__item img,
.slider-nav__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-for__item {
	height: 446px;
	display: block;
}