/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1650px) {
	.container-fluid {
		padding: 0 30px;
	}
	.header__contacts {
		margin-right: 25px;
	}
	.menu > li {
		padding: 0 22px;
	}
	.info-billord__value {
		font-size: 54px;
	}
	.info-billord__title {
		font-size: 29px;
		margin-bottom: 4px;
	}
	.info-billord__descr {
		font-size: 13px;
	}
	.info-billord__item {
		padding: 30px 45px;
		padding-left: 31px;
		padding-bottom: 15px;
		min-height: 110px;
	}
	.item-billbord__image {
		height: 800px;
	}
	.item-billbord__content {
		padding-top: 125px;
	}
	.footer__title, .footer__nav_big {
		font-size: 15px;
	}
	.item-catalog__title {
		font-size: 16px;
		padding: 13px 29px;
	}
	.title-big {
		font-size: 52px;
		line-height: 50px;
	}
	.item-billbord {
		font-size: 17px;
		line-height: 26px;
	}
	.item-billbord .btn-main {
		margin-top: 30px;
		font-size: 16px;
		line-height: 20px;
		height: 60px;
		min-width: 265px;
	}
	.info-billord__flex p {
		max-width: 100px;
		font-size: 14px;
	}
	.info-billord {
		margin-right: -25px;
	}
	.slick-dots li {
		margin: 0 7px;
	}
	body {
		font-size: 15px;
	}
	.info-billord sup {
		font-size: 14px;
	}
	.item-card__content {
    padding: 25px 25px;
    padding-bottom: 30px;
}
.item-card p {
	margin-bottom: 30px;
}
.link-page {
    font-size: 16px;
    line-height: 21px;
    }
    .item-card__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}
.item-card__image {
    height: 290px;
    }
    .tab-container {
    	padding-top: 50px;
    }
    .slider-card {
    	margin-bottom: 70px;
    }
    .slider-card__item {
    height: 470px;
}
.text-card {
	margin-bottom: 40px;
}
.consultation .block-form {
    max-width: 525px;
    margin-left: 0;
}
.block-form {
    padding: 35px;
    padding-bottom: 45px;
}
.block-form__wrap {
    padding: 0 55px;
}
.descr-form {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
}
.subtitle-form {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 19px;
    }
    .title-form {
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 11px;
}
}
@media only screen and (max-width : 1350px) {
	.menu > li {
		padding: 0 12px;
	}
	.logo img {
		width: 210px;
	}
	.container-fluid {
		padding: 0 15px;
	}
	.time-work {
		padding-top: 4px;
	}
	.item-billbord {
		font-size: 18px;
		line-height: 28px;
	}
	.title-big {
		font-size: 53px;
		line-height: 55px;
		margin-bottom: 25px;
	}
	.item-billbord .btn-main {
		margin-top: 30px;
	}
	.item-billbord__image {
		height: 720px;
	}
	.info-billord__value {
		font-size: 49px;
	}
	.info-billord__title {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.info-billord__flex p,
	.info-billord__descr {
		font-size: 12px;
		line-height: 18px;
	}
	.info-billord__flex p {
		font-size: 13px;
		max-width: 105px;
	}
	.info-billord {
		margin-right: -25px;
	}
	.item-catalog__image {
		height: 270px;
	}
	.item-catalog__title {
		font-size: 16px;
		padding: 14px 27px;
	}
	.wrapper {
		padding-top: 77px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body {
		font-size: 14px;
	}
	.header__wrap .header__contacts {
		display: none;
	}
	.item-billbord__content {
		padding-top: 90px;
	}
	.bottom-billbord {
		position: relative;
		left: 0;
		right: 0;
	}
	.bottom-billbord .controls-slider {
		bottom: 100%;
		margin-bottom: 20px;
		left: 0;
		position: absolute;
	}
	.item-billbord__image {
		height: 645px;
	}
	.item-catalog__title {
		font-size: 13px;
		padding: 12px 14px;
		left: 26px;
	}
	.item-catalog__image {
		height: 240px;
	}
	.item-portfolio__image {
		height: 340px;
	}
	.item-portfolio__title {
		font-size: 18px;
		line-height: 24px;
	}
	.item-portfolio__descr {
		font-size: 12px;
		line-height: 15px;
	}
	.footer {
		font-size: 12px;
		line-height: 15px;
	}
	.footer .phone-main {
		font-size: 16px;
	}
	.copyright {
		margin-top: -20px;
	}
	.portfolio {
		padding-bottom: 60px;
	}
	.item-billbord {
		font-size: 16px;
		line-height: 26px;
	}
	.slider-card__item {
    height: 365px;
}
.tabs a {
	padding: 10px 35px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrap .menu {
		display: none;
	}
	.info-billord__item::before {
		transform: none;
	}
	.info-billord__item {
		flex: 1;
	}
	.info-billord {
		margin-right: 0;
	}
	.info-billord__title {
		font-size: 23px;
		margin-bottom: 5px;
		line-height: 23px;
	}
	.info-billord__value {
		font-size: 33px;
	}
	.info-billord__item {
		padding: 20px 15px !important;
	}
	.info-billord__item:nth-child(1) .info-billord__title {
		margin-left: 0;
	}
	.item-billbord__image {
		height: 575px;
	}
	.title-section {
		font-size: 33px;
		line-height: 35px;
		padding-top: 30px;
	}
	.item-catalog__title {
		font-size: 14px;
		padding: 12px 33px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__title, 
	.footer__nav_big a {
		padding: 15px 0;
		margin: 0;
		border-bottom: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__nav_big li {
		margin-bottom: 0;
	}
	.copyright {
		margin-top: 15px;
	}
	.footer .logo {
		margin-bottom: 15px;
	}
	.footer__title i {
		font-size: 13px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	#map {
		height: 360px;
	}
	.info-billord sup {
		font-size: 13px;
	}
	.btn_nav {
		display: inline-block;
	}
	.header__right {
		margin-right: 25px;
		margin-left: auto;
	}
	.menu-mobile {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 0 15px;
		padding-bottom: 100px;
		display: none;
		overflow: auto;
		background-color: #efefef;
	}
	.menu-mobile .menu {
		margin-bottom: 15px;
		display: block;
	}
	.menu-mobile .menu li a::before,
	.menu-mobile .menu li a::after {
		display: none;
	}
	.menu-mobile .menu li a {
		padding: 15px 0;
		border-bottom: 1px solid #000;
		display: block;
		text-align: left;
	}
	.menu-mobile .header__contacts {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.header {
		padding: 12px 0;
	}
	.wrapper {
		padding-top: 54px;
	}
	.menu > li {
		padding: 0;
	}
	.phone-mob {
		display: inline-block;
	}
	.header__wrap .header__right {
		display: none;
	}
	.header__contacts p {
		margin-bottom: 15px;
		line-height: 22px;
	}
	.header .logo img {
		width: 156px;
	}
	.slick-dots li button {
		width: 1px;
		height: 10px;
	}
	.slick-dots li {
		width: 1px;
		height: 10px;
		margin: 0 5px;
	}
	.slick-dots li.slick-active button {
		height: 19px;
	}
	.controls-slider .slick-arrow {
		width: 14px;
		height: 27px;
	}
	.page-numbers {
		font-size: 16px;
		line-height: 22px;
	}
	.prev.page-numbers, .next.page-numbers {
		width: 40px;
		height: 40px;
	}
	.prev.page-numbers img, 
	.next.page-numbers img {
		max-width: 10px;
	}
	.pager {
		height: 40px;
		margin-top: 30px;
	}
	.breadcrumbs {
		padding-top: 25px;
		padding-bottom: 20px;
	}
	.section-text .title-section {
		padding-bottom: 20px;
		padding-top: 0;
	}
	.section-text {
		padding-bottom: 25px;
		line-height: 22px;
	}
	.row_cards > div {
		margin-bottom: 30px;
	}
	.card {
		padding-bottom: 30px;
	}
	.consultation .block-form {
    max-width: 420px;
}
.block-form {
	padding: 25px 20px;
}
.title-form {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
}
.subtitle-form {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 15px;
}
.descr-form {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    max-width: 230px;
}
.block-form__wrap {
    padding: 0 25px;
}
.consultation {
	padding: 35px 0;
}
.block-form .btn-main {
	height: 60px;
	font-size: 16px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 22px;
		line-height: 31px;
		margin-bottom: 15px;
	}
	.item-billbord__content {
		padding-top: 70px;
	}
	.item-billbord {
		font-size: 14px;
		line-height: 21px;
	}
	.item-billbord .btn-main {
		font-size: 14px;
		line-height: 20px;
		height: 45px;
		min-width: 195px;
		margin-top: 0;
	}
	.bottom-billbord .controls-slider {
		width: 100%;
		justify-content: center;
	}
	.controls-slider .slick-dots {
		width: initial;
	}
	.info-billord__flex {
		justify-content: center;
	}
	.info-billord {
		margin: 0 -15px;
	}
	.info-billord__value {
		font-size: 30px;
	}
	.info-billord__title {
		font-size: 20px;
		margin-bottom: 5px;
		line-height: 30px;
	}
	.info-billord sup {
		font-size: 10px;
	}
	.item-catalog {
		margin-top: 20px;
	}
	.item-portfolio {
		margin-top: 25px;
	}
	.footer .col-lg-5 {
		padding-top: 10px;
	}
	.item-billbord__content p {
		display: none;
	}
	.item-billbord__image {
		height: 230px;
		min-height: initial;
		max-height: initial;
	}
	.item-billbord__content {
		padding-bottom: 60px;
	}
	.item-billbord__content {
		padding-top: 28px;
	}
	.item-billbord__content .title-big {
		min-height: 94px;
	}
	.item-billbord__content .title-big {
		margin-bottom: 25px;
	}
	.info-billord {
		display: block;
		margin: 0;
	}
	.bottom-billbord {
		display: block;
	}
	.info-billord__item {
		padding: 24px 20px !important;
		min-height: 115px;
		margin-top: 15px;
		margin-right: 0;
		justify-content: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.info-billord__flex p {
		font-size: inherit;
		text-align: left;
	}
	.info-billord__flex p, .info-billord__descr {
		font-size: 16px;
		line-height: 20px;
	}
	.bottom-billbord .controls-slider {
		margin-bottom: 30px;
	}
	.card .title-section {
		padding-bottom: 20px;
	}
	.logo-card img {
		max-width: 190px;
	}
	.logo-card {
		margin-bottom: 20px;
	}
	.text-card {
		line-height: 23px;
		margin-bottom: 25px;
	}
	.tabs {
		padding: 0 20px;
		white-space: nowrap;
		margin-right: -15px;
		overflow: auto;
		justify-content: flex-start;	
	}
	.tabs::-webkit-scrollbar {
    -webkit-appearance: none;
}
.tabs::-webkit-scrollbar:vertical {
    width: 0px;
}
.tabs::-webkit-scrollbar:horizontal {
    height: 0px;
}
.tabs::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
.tabs::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.tab-container {
	padding-top: 25px;
}
.slider-card {
	margin-bottom: 30px;
}
.slider-card__item {
    height: 250px;
}
.slider-card .slick-arrow {
	width: 18px;
	height: 33px;
}
.slider-card .slick-prev {
	left: 10px;
}
.slider-card .slick-next {
	right: 10px;
}
.consultation .block-form {
	max-width: 100%;
}
.consultation {
	padding: 0;
	padding-bottom: 40px;
	background-image: none;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header__wrap .btn-main {
		display: none;
	}
	.title-section {
		font-size: 25px;
		line-height: 32px;
		padding-top: 25px;
	}
	.item-catalog__title {
		padding: 14px 27px;
	}
	.item-portfolio__content {
		padding: 15px 60px;
		padding-right: 33px;
	}
	.contacts .container-fluid {
		padding: 0;
	}
	#map {
		height: 300px;
	}
	.item-billbord {
		font-size: 14px;
		line-height: 21px;
	}
	.item-billbord__content .title-big {
		min-height: 80px;
	}
	.item-portfolio .controls-slider {
		padding-left: 0;
		justify-content: flex-end;
	}
	.portfolio_page {
		padding-bottom: 40px;
	}
	.card .title-section {
    font-size: 29px;
    line-height: 36px;
}
.slider-card {
	margin: 0 -15px;
	margin-bottom: 25px;
}
.slider-card__item {
    height: 190px;
}
.item-card__image {
    height: 240px;
}
.item-card__title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 13px;
}
.item-card {
	line-height: 23px;
}
.item-card p {
	margin-bottom: 20px;
}
.link-page {
    font-size: 14px;
    line-height: 18px;
}
.item-card__content {
    padding: 22px 15px;
    padding-bottom: 25px;
}
.title-form {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 9px;
}
.subtitle-form {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 12px;
}
.descr-form {
	font-size: 14px;
}
.block-form__wrap {
	padding: 0;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__content {
		display: block !important;
	}
	.menu-mobile {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1350px) {
	.container {
		max-width: 1200px;
	}
}
@media (min-width: 1650px) {
	.container {
		max-width: 1460px;
	}
}